# Line 1 Registration Information
line1_name: "100"						; Extension number
line1_authname: "100"					; Extension number
line1_shortname: "KLob"					; Name that appears on the screen
line1_password: "1234"					; Secret Password

# Line 2 Registration Information
line2_name: "101"						; Extension number
line2_authname: "101"					; Extension number
line2_shortname: "Ans"					; Name that appears on the screen, please set this line to autoanswer
line2_password: "1234"					; Secret Password

# Line 1 Display Name (Display name to use for SIP messaging)
line1_displayname: "100"					;
line2_displayname: "101"					;

# Label shown in upper right corner just before the stylized "sip"
phone_label: "How are you? "	

####### New Parameters added in Release 3.0 ######

# Phone Prompt (The prompt that will be displayed on console and telnet)
phone_prompt:   "SIP Phone"				; Limited to 15 characters (Default - SIP Phone) 
phone_password: "cisco"					; Limited to 31 characters (Default - cisco)
services_url: "http://192.168.1.4/cgi-bin/rss2cisco.pl" ;
directory_url: "http://192.168.1.4/vcardcmxml/vcdir.php" ;
messages_uri: "*98"

sntp_mode: "directedbroadcast"
sntp_server: "192.168.1.4"
time_zone: "EST"
time_format_24hr: "1"
dst_offset: "1"
dst_start_month: "April"
dst_start_day: ""
dst_start_day_of_week: "Sun"
dst_start_week_of_month: "1"
dst_start_time: "2"
dst_stop_month: "Nov"
dst_stop_day: "1"
dst_stop_day_of_week: "Sunday"
dst_stop_week_of_month: ""
dst_stop_time: "2"
dst_auto_adjust: "1"
